body{
    background: #232323;
    margin: 0;
}
.square{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    margin: 1.6666%;
    float: left;
    border-radius: 10%;
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}
#container{
    width: 50%;
    margin: 20px auto;
}
h1{
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: steelblue;
    text-transform: uppercase;
    font-weight: 300;
    padding: 20px 0;
}
#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}
.selected{
    background-color: steelblue;
    color: white;
    border: none;
}
#colorDisplay{
    font-size: 200%;
    font-weight: 500;
}
button{
    border: none;
    background-color: white;
    height: 100%;
    text-transform: uppercase;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}
#message{
    display: inline-block;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
}
button:hover{
    background-color: steelblue;
    color: white;
    border: none;
}